/* I fucking hate CSS */

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    font-variant: medium;
}

.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: auto;
    z-index: 1;
    width: 100%;
    max-width: calc(100% - 80px);
    margin: 0 auto;
    padding: 0 10px;
}

#navbar__logo {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    background-color: #ffffff;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 100vh;
    background-color: #2c2c2c;
    z-index: 1;
    width: 100%;
    padding: 0 50px;
}

.main__content {
    height: calc(45vh - 80px);
    z-index: auto;
}

.main__content h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 60px;
    color: #ffffff;
    text-align: left;
}


.main__btn {
    font-size: 15px;
    background-image: linear-gradient(to top, #1a9b00 0%, #2bff00 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #ffff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #ffff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #106100;
    transition: all 0.25s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #ffff;
}

.main__btn:hover:after{
    width: 100%;
}

.kofi__btn {
    font-size: 15px;
    background-image: linear-gradient(to top, #007179 0%, rgb(0, 111, 176) 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #ffff;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.kofi__btn a {
    position: relative;
    z-index: 2;
    color: #ffff;
    text-decoration: none;
}

.kofi__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(to top, #00383c 0%, #002b34 100%);
    transition: all 0.25s;
    border-radius: 4px;
}

.kofi__btn:hover {
    color: #ffff;
}

.kofi__btn:hover:after{
    width: 100%;
}
